name: "Build gperf2flamegraph"
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - name: Flake check
        run: nix flake check --all-systems
      - name: Build gperf2flamegraph
        run: nix build '.#g2f'
      - name: Upload g2f
        uses: actions/upload-artifact@v6.0.0
        with:
          name: gperf2flamegraph-${{ matrix.os }}
          path: result/bin/g2f
